@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --clr-primary-StrongCyan: hsl(172, 67%, 45%);
  --clr-primary-LightRed: hsl(0, 100%, 67%);

  /* NEUTRAL */

  --clr-neutral-100: hsl(183, 100%, 15%);
  --clr-neutral-200: hsl(186, 14%, 43%);
  --clr-neutral-300: hsl(184, 14%, 56%);
  --clr-neutral-400: hsl(185, 41%, 84%);
  --clr-neutral-500: hsl(189, 41%, 97%);
  --clr-neutral-600: hsl(0, 0%, 100%);

  --ff-100: "Space Mono", monospace;
  --fw-700: 700;
}

* {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  font-family: "Space Mono", monospace;
  background: var(--clr-neutral-400);
  min-height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

span {
  display: block;
  font-size: 0.75rem;
  color: var(--clr-neutral-200);
}
.grid {
  display: grid;
  gap: 0.5rem;
}

.logo {
  margin-top: 2rem;
  width: 25%;
}
.title {
  color: var(--clr-neutral-300);
  margin-bottom: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.wrapper {
  border-radius: 1rem;
  max-width: 375px;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--clr-neutral-600);
}
.left {
  gap: 1rem;
}
label {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral-300);
  gap: 1rem;
}
input[type="number"],
.custom {
  display: block;
  cursor: pointer;
  border: none;
  background: var(--clr-neutral-500);
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-align: right;
}
input[type="number"]:focus,
.custom:focus{
  outline: 2px solid var(--clr-primary-StrongCyan);
}
input[type="number"]:invalid {
  outline: 2px solid var(--clr-primary-LightRed);
}
input[type="number"]:invalid + label::after {
  position: absolute;
  top: 0;
  content: "Can't be zero";
  color: black;
}

label.error::before{
  position: absolute;
  content: "Can't be zero";
  color: var(--clr-primary-LightRed);
  right: 0;
}



.sign{
  width: 5%;
  position: absolute;
  top: 55%;
  left: 5%;
}
.btn {
  width: 150px;
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-600);
  font-size: 1.375rem;
}
.buttons {
  grid-template-columns: repeat(2, 1fr);
}
.custom {
  max-width: 150px;
  text-align: center;
  font-size: 1.5rem;
}
.btn:hover {
  cursor: pointer;
  background: var(--clr-primary-StrongCyan);
  color: var(--clr-neutral-100);
}
.btn.active {
  background: var(--clr-primary-StrongCyan);
  color: var(--clr-neutral-100);
}
.btn.reset {
  cursor: pointer;
  width: 100%;
  background: var(--clr-primary-StrongCyan);
  color: var(--clr-neutral-100);
}

.btn.reset:disabled {
  background: var(--clr-neutral-300);
}
.right {
  border-radius: 1rem;
  padding: 2rem;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-600);
  margin-top: 1rem;
  gap: 1.5rem;
}
.tips__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results {
  font-size: 1.5rem;
  color: var(--clr-primary-StrongCyan);
}
footer{
  margin-top: 5rem;
  text-align: center;
}
@media (min-width: 62.5rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wrapper {
    max-width: 1000px;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 4rem;
  }
  .logo {
    margin-top: 0;
    margin-bottom: 5rem;
    max-width: 10%;
  }
  input[type="number"] {
    font-size: 2rem;
  }
  .buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  .left {
    gap: 3rem;
  }
  .btn {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .btn,
  .custom {
    width: 130px;
  }
  .right {
    padding-block: 3rem;
    width: 25vw;
  }

  .btn.reset {
    margin-top: 6rem;
  }
  .results {
    font-size: 3.5rem;
    color: var(--clr-primary-StrongCyan);
  }
}
